.container {
	display: flex;
	height: 100hv;
	overflow: hidden;
}

.left-container {
	height: 100vh;
	width: 20vw;
}

.right-container {
	height: 100vh;
	width: 80vw;
}

.syntax-textarea {
	height: 90%;
	width: 100%;
	font-size: medium;
}

.react-bpmn-container {
	position: relative;
	height: 100%;
}

.buttons {
	height: 10%;
	width: 100%;
	display: flex;
}

.translate-button,
.download-button {
	width: 50%;
}
